apiVersion: v1
kind: Secret
metadata:
  name: s3-secrets
stringData:
  endpoint: s3://us-east-1/<bucketname>
  bucketnames: <changeme>
  access_key_id: <changeme>
  access_key_secret: <changeme>
type: Opaque